{% extends "layout.html" %}
{% block title %}
Записи 1
{% endblock %}


{% block body %}
<header> 
	<h1>HTML, CSS</h1>
</header> 
<main>
	<p>Протокол - это набор правил, которым следуют при общении программы.
	Так в веб службе клиент и сервер общаются по протоколу http.
	Когда мы вводим в браузере адрес веб ресурса, браузер (клиент) отправляет
	запрос по протоколу http к программе, веб сервер. 
	Ответ сервера может содержать, например, текст, размеченный при помощи 
	языка html. Браузер интерпретирует ответ и отображает.</p>
	<h2>HTML</h2> 
	<p>html - это язык разметки. С его помощью вы указываете, где у вас
	заголовок, где обычный текст, где список... Для разметки используются
	элементы языка html. Создадим страницу, на которой написано привет мир.
	</p>
	<pre>
	<code>
	&lt;!doctype html&gt;
	&lt;html&gt;
		&lt;head&gt;
			&lt;meta charset=&quot;utf-8&quot;&gt;
			&lt;title&gt;Привет&lt;/title&gt;
		&lt;/head&gt;
		&lt;body&gt;
			&lt;p&gt;Привет, мир!&lt;/p&gt;
		&lt;/body&gt;
	&lt;/html&gt;
	</code>
	</pre>
	<p>
	Элемент title содержит заголовок, он отображается на вкладке браузера.
	В нашем примере элемент meta имеет атрибут charset, сообщающий, что 
	кодировка текста utf-8.
	Внутри body вы размещаете текст страницы. Заголовки
	выделяете при помощи элементов h1, h2, h3 ... h6. 
	Например, заголовок этой страницы был создан так:</p>
	<pre>
	<code>
	&lt;h2&gt;HTML&lt;/h2&gt;
	</code>
	</pre>
	<p>Абзацы текста выделяете при помощи элемента p, как в примере с приветствием.</p>
	<p>Ниже - пример создания списка.</p>
	<pre>
	<code>
	&lt;ol&gt;
		&lt;li&gt;элемент списка&lt;/li&gt;
		&lt;li&gt;другой элемет&lt;/li&gt;
	&lt;/ol&gt;
	</code>
	</pre>
	<p>Вот результат.</p>
	<ol>
		<li>элемент списка</li>
		<li>другой элемет</li>
	</ol>
	<p>Гиперссылка  выделяется при помощи элемента a. Например, </p>
	<pre>
	<code>
	Я учусь в &lt;a href= &quot;https://www.tspu.edu.ru&quot;&gt;ТГПУ&lt/a&gt;.
	</code>
	</pre>
	<p>Результат:</p>
	<p>Я учусь в <a href= "https://www.tspu.edu.ru">ТГПУ</a>.</p>
	<p>Элемент img используют для вставки изображения. Например</p>
	<pre>
	<code>
	&lt;img src=&quot;file.png&quot;&gt;
	</code>
	</pre>
	<p>Атрибут src - для указания имени файла изображения.
	Для создания таблиц - элемент table.
	Если вы хотите добавить к рисунку, таблице или листингу кода
	подпись, то их надо поместить в контейнер figure. Например,</p>
	<pre>
	<code>
	&lt;figure&gt;
	&lt;figcaption&gt;Листинг 1. Пример программмы на python.&lt;/figcaption&gt;
	&lt;pre&gt;&lt;code&gt;
	print("Hello, World!")
	&lt;/code&gt;&lt;/pre&gt;
	&lt;/figure&gt;
	</code>
	</pre>
	Результат:
	<figure>
	<figcaption>Листинг 1. Пример программмы на python.</figcaption>
	<pre><code>
	print("Hello, World!")
	</code></pre>
	</figure>

	<p>Элементы div и span используются для группировки.
	nav элементом вы выделяете раздел, содержащий навигационные ссылки.</p>
	<p>Для получения информации от пользователя, удобно разместить элементы
	ввода на форме.</p>
	<pre><code>
	&lt;form&gt;
		&lt;label for=&quot;name&quot;&gt;Имя&lt;/label&gt;
		&lt;input type=&quot;text&quot; id=&quot;name&quot;&gt;
		&lt;input type=&quot;button&quot; value=&quot;find&quot;&gt;
	&lt;/form&gt;
	</code></pre>
	<p>Результат:</p>
	<form>
		<label for="name"> Имя</label>
		<input type="text" id="name">
		<input type="button" value="find">
	</form>

	<p>Об этих и других элементах html удобно смотреть на <a href="https://www.w3.org/TR/html51">https://www.w3.org/TR/html51/</a></p>
	<h2>CSS</h2>


</main>
{% endblock %}
