{% extends "layout.html" %}
{% block tytle %}
Неделя 0
{% endblock %}


{% block body %}
<h1>ide.cs50.io</h1>
<h2>Регистрация и вход в среду разработки.</h2>
<p>Чтобы не устанавливать на домашний компьютер программное
обеспечение, необходимое для выполнения заданий, мы будем 
пользоваться средой на облаке <a href="https://ide.cs50.io">ide.cs50.io</a>. Входить в эту среду
мы будем через учёнтную записть на <a href="https://github.com">github.com</a>. В видео ниже,
вы можете посмотреть, как это сделать.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/UiFz-4N3SJg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>Создание и запуск первой программы на python</h2>

<p>Ниже мы видим рабочую среду на ide.cs50.io.
</p>
<img src="data/idecs50.png" width="500">
<p>В нижней части,находится окно терминала.
Через него мы будем общаться с ядром операционной системы.
Ядро операционной системы выполняет две функции. Первая функция -
 предоставление программам доступа к оборудованию, вторая - многозадачность.
Используя язык sh в терминале мы будем создавать папки, 
запускать программы... 
Создадим паку с именем week1 в домашнем каталоге пользователя.
Для этого выполните в окне терминала команду</p>
</p>
<pre>
<code>
~/$ mkdir ~/week0
</code>
</pre>
<p>~ - короткое обозначение домашнего каталога.  
Текущий каталог, или рабочий каталог - это каталог,
в котором программа начинает поиск файлов, 
если не указан полный путь. Имя текущего каталога отображается
справа от знкака $. 
Следующая команда сделает
текущим каталогом каталок week0.
</p>
<pre>
<code>
~/$ cd ~/week0
</code>
</pre>
<p>Напишем программу на python, которая при запуске выводит 
приветствие.
В окне вверху справа, нажмите плюс и создайте файл. Сохраните
его в папку week0 с именем hello.py. 
Наберите в файле одну старку.
</p>
<pre>
<code>
print("Привет, мир!")
</code>
</pre>
<p>Сохраните изменения, перейдите в окно терминала и выполните в нем
команду</p>

<pre>
<code>
$python hello.py
</code>
</pre>
<p>python - это имя файла программы интерпретатора языка python.
Эта программа найдёт созданный нами файл в текущем каталоге 
и выполнит его. Программа python наследует свойство, 
текущий каталог, от запускающего её терминала.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/-X5iugwe75g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

 <h2>Заполните форму <a href="https://forms.gle/5Fh5xEgSZzWHTWBz8">https://forms.gle/5Fh5xEgSZzWHTWBz8</a></h2>
{% endblock %}
