{% extends "layout.html" %}
{% block title %}
Задаине 4 
{% endblock %}


{% block body %}
<h2>Задание</h2>
<ol>
	<li>
Используя жадный алгоритм с сортировкой по удельной
цене, решите  задачу о рюкзаке из лекции.
	</li>
	<li>
		В лекции приведён пример генератора двоичных чисел, создайте генератор троичных чисел.
	</li>
</ol>

<h2>Как отправить на проверку</h2>
<ol>
	<li>Запишите 1-5 минутный <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D0%BA%D0%B0%D1%81%D1%82%D0%B8%D0%BD%D0%B3">скринкаст</a>, того как вы демонстрируете
функционирование вашего проекта. Загрузите ваше видео 
на youtube (как unlisted или public, но не private).</li>
	<li>Заполните <a href="https://forms.gle/fZZKKaVb8wBQSkK17">форму.</a></li>
	<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/g5QEfYQMAXM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</p>
</ol>


{% endblock %}
