
{% extends "layout.html" %}
{% block tytle %}
Задача о рюкзаке
{% endblock %}

{% block body %}

<h1>Задача о рюкзаке</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WPdSHLIpPIQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ul>
	<li>
		<a href="notes4.html">Заметки</a>
	</li>
	<li>
		<a href="pset4.html">Задание</a>
	</li>
	<li>
		<a href="../weeks/week4.zip">Исходный код к лекции</a>
	</li>
</ul>
{% endblock %}
