{% extends "layout.html" %}
{% block body %}
<h1>Обсуждение</h1>
		  </div>
        Для обсуждения заданий с однокласниками и преподавателем
        удобно использовать gitter.
        Посетите
        <a href="https://gitter.im/tspu-ict/community">https://gitter.im/tspu-ict/community</a>.
        Вы можете
        просматривать и искать ответы.
        Но чтобы задавать вопросы, вставлять или удалять
        ответы, вам надо нажать кнопку <button type=button class="btn btn-primary">sign in to start talking</button>, затем
        выбрать <button type=button class="btn btn-primary">sing in with github</button>.
	  </div>
{% endblock %}
