{% extends "layout.html" %}
{% block title %}
Обсуждение
{% endblock %}
{% block body %}
<header>
<h1>Обсуждение</h1>
</header>
        Для обсуждения заданий с одноклассниками и преподавателем
        удобно использовать gitter.
        Посетите
        <a href="https://gitter.im/tspu-ict/community">https://gitter.im/tspu-ict/community</a>.
        Вы можете
        просматривать и искать ответы.
        Но чтобы задавать вопросы, вставлять или удалять
        ответы, вам надо нажать кнопку <button type=button class="btn btn-primary">sign in to start talking</button>, затем
        выбрать <button type=button class="btn btn-primary">sing in with github</button>.
{% endblock %}
