{% extends "layout.html" %}
{% block title %}
Информатика
{% endblock %}


{% block body %}
<header>
<h1>Занятия по расписанию.</h1>
</header>
<p>Занятия проходят в 
<a href="http://bbb.tspu.edu.ru/b/hxv-qj2-hnx">http://bbb.tspu.edu.ru/b/hxv-qj2-hnx</a>. 
 Попробуйте войти заранее.
 </p> 
 <h2>Заполните форму <a href="https://forms.gle/5Fh5xEgSZzWHTWBz8">https://forms.gle/5Fh5xEgSZzWHTWBz8</a></h2>

 Большая часть материала взята с <a href="https://cs50.harvard.edu">cs50</a> и <a href="https://cs50.harvard.edu/ai">ai50</a>.

 <p>Вы нашли ошибки в тексте, зайдите на 
 <a href="https://github.com/vadimgb/vadimgb.github.io/issues">https://github.com/vadimgb/vadimgb.github.io/issues</a>,<br>
 <br>
 <img src="data/issue1.png" width="700"><br>
 <br>
 <br>
 нажимаете кнопку <kbd>New issue</kbd>,<br> 
 <br>
 <br>
 <img src="data/issue2.png" width="700"><br>
 <br>
 <br>
 укажите тему, напишите замечание,
 затем нажмите <kbd>Submit new issue</kbd>
 </p>
{% endblock %}


