{% extends "layout.html" %}
{% block title %}
Информатика
{% endblock %}


{% block body %}
<header>
<p>Занятия проходят в 
<a href="http://bbb.tspu.edu.ru/b/hxv-qj2-hnx">http://bbb.tspu.edu.ru/b/hxv-qj2-hnx</a>. 
Вы можете зайти и с другой группой.
Время занятий<br>
26.01.21 в 8:30 и в 12:25<br>
27.01.21 в 8:30<br>
30.01.21 в 8:30<br>

 Попробуйте войти заранее;)
</p>



 <h2>Выберите свой предмет</h2>
</header>
<main>
 <ul>
	 <li><a href="csAndTech/index.html">Очная форма обучения</a></li>
	 <li><a href="corrStudents/index.html">Заочники</a></li>
 </ul>
</main>
{% endblock %}


