{% extends "layout.html" %}
{% block title %}
Информатика
{% endblock %}


{% block body %}
<header>
<p>Занятия проходят в 
<a href="http://bbb.tspu.edu.ru/b/hxv-qj2-hnx">http://bbb.tspu.edu.ru/b/hxv-qj2-hnx</a>. 
 Попробуйте войти заранее;)
 </p> 


 <h2>Выберите свой предмет</h2>
</header>
<main>
 <ul>
	 <li><a href="csAndTech/index.html">Информатика и информационные технологии</a></li>
	 <li><a href="csAndTech/index.html">Основы информационной безопасности</a></li>
	 <li><a href="csAndTech/index.html">Цифровая экономика и информационные технологии</a></li>
 </ul>
</main>
{% endblock %}


