{% extends "layout.html" %}
{% block title %}
Заметки 10
{% endblock %}


{% block body %}
 <header> 
 <h1>Заметки</h1>
 </header>
 <h2>Электронные таблицы</h2>
 <ul>
  <li>Электронные таблицы - это программы для работы с данными
				  представленными в виде таблиц. Файл для такой программы
				  может содержать несколько таблиц(листов).</li>
			  <li>Например, мы создали <a href="https://forms.gle/q4gPwEunMQY2zxJR8">форму</a> в Google Form
				  для опроса студентов об их любимом тв шоу. Мы смотрим на их ответы и видим,
				  что в электронной таблице есть три столбца: "Timestamp", "название", "жанр".</li>
			  <img src="data/favorite_tv_show.png" class="col-9"><img>
			  <li>Мы можем загрузить CSV файл из google spreadsheet в нашу IDE, и увидеть, что это
				  текстовый файл с разделяемыми запятой значениями. Мы переименуем это файл в <code>favorites.csv</code>.
				  Вы можете закачать этот файл, выполнив <kbd>wget https://vadimgb.github.io/data/favorites.csv</kbd></li>
			  <li>Создадим файл <code>favorites.py</code>:</li>
  <pre>
  <code class="language-python">
  import csv
  whith open("favorites.csv", "r") as file:
	reader = csv.DictReader(file)

	for row in reader:
		print(row["название"])
</code>
  </pre>
			  <ul>
						  <li>Мы просто открыли файл и распечатали название для каждой строки.
						  DictReader создал список строк, каждая строка  представлена словарём. </li>
			  </ul>
			  <li>Далее мы используем словарь, чтобы подсчитать сколько раз название встречалось. Ключом будет
				  название, а значение будет числом отслеживающее сколько раз встречалось название.</li>
<pre>
<code>
import csv
счет = {}
with open("favorites.csv", "r") with file:
	reader = csv.DictReader(file)

	for row in reader:
		название = row["название"]
		if название in reader:
			row[название] += 1
		else:
			row[название] = 1

for название, число in счет.items():
	print(название, число, sep = "|"
</code>
</pre>

			<li>Мы можем поменять порядок сортировки в списке:</li>
<pre>
<code>
def f(пара):
	return пара[1]

for название, число in sorted(счет.items(), key = f, reverse=True):
</code>
</pre>
		  </ul>

		  <p>На сайте edx.org курс "cs50 introduction to computer science".
		  Week 7. Видео лекция,  конспект к ней. Наша 10 неделя - это их week7.
		  </p>
 
{% endblock %}
