
{% extends "layout.html" %}
{% block tytle %}
Неделя 14
{% endblock %}

{% block body %}
<h1>Неделя 14</h1>

<ul>
	<li>
		Лекция 14
		<ul>
			<li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0qjuhSzyfVI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</li>
			<li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4YRO3BdpPsE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</li>
			<li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/95gOI7iRjx0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</li>
			<li>
				<a href="weeks/week14/slides/lecture14.pdf">Презентация</a>
			</li>
			<li>
				<a href="weeks/week14/src.zip">Исходный код</a>
		</ul>
	<li>
		<a href="pset14.html">Задание</a>
	</li>

</ul>
{% endblock %}
