{% extends "layout.html" %}
{% block title %}
Замечания.
{% endblock %}

{% block body %}
<h2>Как внести замечания по содеражнию сайта?</h2>
 <p>Если вы нашли ошибки в тексте, то вы можете зайти на  
<a href="https://github.com/vadimgb/vadimgb.github.io/issues">https://github.com/vadimgb/vadimgb.github.io/issues</a>,<br>
 <br>
 <img src="data/issue1.png" width="700"><br>
 <br>
 <br>
 нажимаете кнопку <kbd>New issue</kbd>,<br> 
 <br>
 <br>
 <img src="data/issue2.png" width="700"><br>
 <br>
 <br>
 укажите тему, напишите замечание,
 затем нажмите <kbd>Submit new issue</kbd>
 </p>
{% endblock %}


