{% extends "layout.html" %}
{% block tytle %}
SQL
{% endblock %}

{% block body %}
 <h1>Заметки</h1>
 </header>
 <h2>Электронные таблицы</h2>
 <ul>
  <li>Электронные таблицы - это программы для работы с данными
				  представленными в виде таблиц. Файл для такой программы
				  может содержать несколько таблиц(листов).</li>
			  <li>Например, мы создали <a href="https://forms.gle/q4gPwEunMQY2zxJR8">форму</a> в Google Form,
				  для опроса студентов об их любимом тв шоу. Мы можем вывести их ответы в электронную таблицу,
				  видим,
				  что в электронной таблице есть три столбца: "Timestamp", "название", "жанр".</li>
			  <img src="data/favorite_tv_show.png" class="col-9"><img>
			  <li>	Мы создали npm проект, назвали его favorites,  сохранили в нём эту таблицу в виде csv файла favorites.csv. 
				  Выложили этот проект на github.</li>
			  <li>
				  Зайдите на ссылку 
				  <a href="https://github.com/vadimgb1/favorites">favorites</a>.
				  Нажмите на кнопку Fork, в вашем аккаунте   появится копия репозитория. 
				  Находясь в копии репозитория, нажмите на зелёную кнопку Code и скопируйте адрес.
				  Перейдите в ide, выполните команду git clone адрес_копии. Перейдите 
				  в каталог favorites <kbd>cd favorites</kbd>. Чтобы установить необходимые
				  модули, выполните <kbd>npm install</kbd>. 
			  </li>
			  <li>Создайте файл <code>favorites.js</code>:</li>
  <pre>
  <code class="language-javascript">
	const	fs = require('fs'),
		csv = require('csv-parser')

	const fStream = fs.createReadStream('favorites.csv')	//поток считывает файл
	const csvStream = csv().on('data', data=>{console.log(data['название'])}) 
	fStream.pipe(csvStream)//Данные из первого потока направляем во второй
</code>
  </pre>
			  <ul>
				  <li><kbd>node favorites.js</kbd> выполнит файл. 
					  Мы просто открыли файл и распечатали названия. 
					  csv-parser  для строки из файла создаёт объект, названия его свойств - 
					  это названия столбцов из файла. </li>
			  </ul>
			  <li>Создайте файл favorite2.js. С его помощью мы будем выводить сколько раз название встречалось.
				  Мы создаём объект names. Названием свойства будет название фильма, 
				  а значением будет число отслеживающее сколько раз встречалось название.</li>
<pre>
<code>
const	fs = require('fs'),
	csv = require('csv-parser')
let names = {}

const stream = fs.createReadStream('favorites.csv').pipe(csv())

stream.on('data', data =>
	{
		const name = data['название'].toLowerCase()
		if(names[name])
		{
			names[name] += 1
		}
		else
			names[name] = 1
	})

stream.on('end', ()=>
	{
		for(let name in names)
			console.log(`${name}: ${names[name]}`)
		
	})
</code>
</pre>

	<li>Вы можем поменять порядок свойств в объекте:</li>
<pre>
<code>
stream.on('end', ()=>
	{
		names = Object.keys(names).sort((a,b) => names[a] - names[b]).reverse()
			.reduce((a, v) => {a[v] = names[v]; return a;}, {})

	//	console.table(names)
		for(let name in names)
			console.log(`${name}: ${names[name]}`)
		
	})

</code>
</pre>
	<li>
		Выполните коммит ваших изменения <kbd>git add .</kbd>, <kbd>git commit -m "import csv"</kbd>. Отправьте ваши изменения на github, выполнив <kbd>git push origin master</kbd>.
		Перейдите на github в свою копию репозитория favorites, нажмите на кнопку Pull request->New pull request,
		так вы отправите ваши дополнения на рассмотрение в базовый репозиторий.
	</li>

<h1>SQL</h1>
<h2>PostgreSQL</h2>
<h3>Создание базы данных на heroku</h3>
<p>Мы могли бы установить postgresql локально,
но мы разместим нашу базу данных на Heroky,
online web hosting serivce.</p>
<ol>
	<li> Зайдите на <a href="https://www.heroku.com/">https://www.heroku.com/</a>, создайте аккаунт, если его ещё нет.</li>
	<li>На dashboard heroku кликните "New" и выберите "Create new app".</li>
	<li>Дайте название вашему приложению(app-name) и кликните "Create app".</li>
	<li>На странице "Overview" кликните "Configure Add-ons".</li>
	<li>В Add-ons раздели начните набирать и выберите Heroku Postgres.</li>
	<li>Выберите "Hobby Dev - Free" план, кликните "Submit Order Form".</li>
	<li>Кликните "Heroku Postgres" ссылку</li>
	<li>Вы оказались на странице "Overview", выберите "Settings" и "View Credentials". Там находится информация, необходимая для подключения к созданной для вас базе данных. Скопируйте URI, мы будем использовать его.</li>
</ol>
<h3>psql</h3>
<p>Для подключения к базе данных, в терминале наберите </p>
<pre>
<code>
$psql ваш_URI
</code>
</pre>
<p>Для создания таблицы используем SQL запрос</p>
<pre>
<code>
create table students(id serial primary key, firstname text not null, lastname text not null);
insert into students (firstname, lastname) values ('Harry', 'Potter'), ('Ron', 'Waesley');
</code>
</pre>
<p>Первый запрос создаст таблицу students. В ней будет поле id, оно будет первичным ключом, поле firstname и lastname имеют тип текстовый и обязательны для заполнения.
Второй запрос вводит данные в таблицу студент.
Для вывода данных из таблицы, выполните запрос:</p>
<pre>
<code>
$select * from students;
</code>
</pre>
<p>Для выхода из программы введите</p>
<pre>
<code>
$\q
</code>
</pre>
<h3>Создание запроса к базе данных из nodejs</h3>
<p>Создайте каталог week5/server</p>
<pre>
<code>
$mkdir ~/week5/
$cd ~/week5/
$mkdir server
$cd server
</code>
</pre>
<p>Выполните команду </p>
<pre>
<code>
$npm init -y
</code>
</pre>
<p>npm - менеджер пакетов node. Она создала файл package.json.
Нам понадобится пакет pg для создания запросов к postgresql.
Для его установки выполните </p>
<pre>
<code>
$npm install pg 
</code>
</pre>
<p>Создайте файл pgConfig.js и сохраните его в папке server.
<pre>
<code>
const {Pool} = require('pg')
//Строку ниже после = должна содержать вашь URI
const connectionString = 'postgresql://user:password@host:port/database'


const pool = new Pool(
    {
	    connectionString: connectionString, 
	    ssl: { rejectUnauthorized: false},
    })

module.exports.pool = pool;
</code>
</pre>
Не забудьте указать свой URI. Создайте файл index.js.
<pre>
<code>
const pool = require("./pgConfig").pool
pool.query('select * from students', (err, result) =>
{
	if(err) throw err
	for(let row of result.rows)
	{
		console.log(row.firstname, ', ', row.lastname)
	}
	pool.end()
})
</code>
</pre>
<p>Мы создали переменную pool, связанную с базой данной
сделали запрос, задали функцию обратного вызова, она
выводит в консоль имена и фамилии из базы данных.</p>
<h3>Создаём веб сервер с помощью express</h3>
<h4>Выводим данные из базы в страницу</h4>
<p>Для создания веб сервера установим пакеты.</p>
<pre>
<code>
npm install express ejs body-parser
</code>
</pre>
<p>Создадим паку views, в ней мы будем размещать шаблоны веб странци.
Создайте в ней файл index.ejs</p>
<pre>
<code id ="index_ejs">
</code>
</pre>
	<script>
		fetch("static/week5/index.ejs")
		.then(responce => responce.text())
		.then(data=>{
			let index_ejs = document.querySelector("#index_ejs")
			index_ejs.innerText = data
		})
	</script>
<p>Изменим содержимое файла index.js на следующее
</p>
<pre>
<code>
const pool = require("./pgConfig")
const express = require("express")
const bodyParser = require("body-parser")
const app = express()

app.set("view engine", "ejs")
app.use(bodyParser.urlencoded({extended: true}))

app.get('/', (req, res)=>
	{
		pool.query("select * from students;", (err, results) =>
			{
				res.render('index',{rows: results.rows})
			})
	})

const PORT = process.env.PORT || 8080
app.listen(PORT,()=>{console.log(`port ${PORT}`)})
</code>
</pre>
<p>Выполним в терминале http-server, скопируем адрес, который выдаст команда.
Остановим сервер, нажав Ctrl+C. Выполним node indes.js. Введём, скопированный
адрес, в браузере и мы увидим нашу страничку с данными из базы.
</p>
<h4>Добавление данных из веб страницы в базу</h4>
<p>Создадим в папке view файл register.ejs. На этой странице разместим форму для ввода данных.</p>
<pre>
<code id ="register_ejs">
</code>
</pre>
	<script>
		fetch("static/week5/register.ejs")
		.then(responce => responce.text())
		.then(data=>{
			let index_ejs = document.querySelector("#register_ejs")
			register_ejs.innerText = data
		})
	</script>
<p>Для добавления данных в базу с формы, добавим два обработчика запросов в index.js перед app.listen. 
Форма отправляет данные методом
POST, поэтому для приходящих с неё данных мы будет использовать маршрут post.</p>
<pre>
<code>
app.get('/user/register', (req, res) =>
	{
		res.render('register')
	}
)

app.post('/user/register', (req, res) =>
	{
		let {fname, lname} = req.body
		pool.query(`insert into students (firstname, lastname) values ($1, $2)`, [fname, lname], (err, result) =>
			{
				if(err)
				{ 
					throw err
				}
				res.redirect("/")
			}
		)
	}
)
</code>
</pre>
<p>Запустим сервер и посмотрим на результат.
<h3>Размещение сервера на heroku.</h3>
<p>Создайте в папке с проектом файл .gitignore.
Добавьте в него строку </p>
<pre>
<code>
node_modules
</code>
</pre>
<p>Инициализируем git в папке ~/week5/server, 
закомитем текущее состояние.
</p>
<pre>
<code>
git init
git add .
git commit -m "first commit"
</code>
</pre>
<p>Создадим репозиторий на github, разместим в нем копию нашего
сайта (git push origin master). Зайдём на heroku.com, выберем, созданное нами приложение,
выберем вкладку deploy, deploy method GitHub, укажем наш репозиторий.
</p>
<h3>Cookie</h3>
Создайте каталог, установите модуль cookie-session. Создайте файл.
<pre>
<code>
const express = require('express'),
	cookieSession = require('cookie-session'),
	bodyParser = require("body-parser"),
	app = express(),
	PORT = process.env.PORT || 8080

app.use(bodyParser.urlencoded({extended: true}))
app.use(cookieSession({
    secret:'just sekcret!'
}))

app.get('/', (req, res) =>
{
	if(req.session.login)
		res.send(`&lta href ='/home'&gt Home&lt/a>`)
	else
		res.send(`&lta href='/login'&gt Login &lt/a&gt`)
		})
	
app.get('/login', (req, res)=>
	{
	res.render('login.ejs')
	})
app.post('/login', (req, res)=>
	{
	const {login, password} = req.body
	req.session.login = login
	res.redirect('/home')
	})

app.get('/home', redirectLogin, (req, res)=>
	{
		res.render('home.ejs', {login: req.session.login})
		})
app.get('/logout', (req, res)=>
	{
		req.session = null
		res.redirect('/login')
		})

function redirectLogin(req, res, next)
{
	if(!req.session.login)
		res.redirect('/login')
	else
		next()
}

app.listen(PORT,()=>{console.log(`listen port:${PORT}`)})
</code>
</pre>

<h2>Структура каталогов для express.</h2>
<p>Создайте каталог hogwarts.
</p>
<pre>
<code>
mkdir ~/hogwarts
cd ~/hogwarts
npm init -y
npm install express ejs dotenv
</code>
</pre>
Вместо того чтобы работать с одним файлом из 100 строк кода,
лучше создать 10 файлов по 10 строк в каждом. Для начала мы создадим
следующую набор каталогов.
<pre>
<code>
mkdir views
mkdir public
mkidr public/images
mkdir public/javascripts
mkdir models
mkdir routes
mkdir controllers
mkdir bin
</code>
</pre>
В каталоге bin мы разместим файл www.
<pre>
<code>
const PORT = process.env.PORT || 8080
var app = require('../app')
app.listen(PORT, ()=>console.log(`Слуашет PORT:${PORT}`))
</code>
</pre>
Это файл импортирует объект app и  
настраивает на прослушивание порта.
В основном каталоге проекта создадим файл app.js
<pre>
<code>
const express = require('express')
const app = express()

app.use(express.static('public'))

var indexRouter = require('./routes/index.js')

app.use('/', indexRouter)
module.exports = app
</code>
</pre>
Создадим файл routes/index.js
<pre>
<code>
var express = require('express')
var router = express.Router()
var index_controller = require('../controllers/indexController.js')

router.get('/', index_controller.index)
module.exports =router

</pre>
</code>

В файле controllers/indexController.js
зададим функцию обработки запросов роута 
<pre>
<code>
exports.index = (req, res) => res.render('index/index.ejs')
</code>
</pre>
Создадим файл views/index/index.ejs
<pre>
<code id="ex1">
</code>
</pre>
<script>
	const ex1 = document.querySelector("#ex1")
	const ex1_text =`<!doctype html> 
<html>
	<head>
	</head>
	<body>
		<p>Hello, World!<p>
	</body>
</html>`
	ex1.innerText = ex1_text 
</script>

{% endblock %}
