{% extends "layout.html" %}
{% block title %}
Задание 1
{% endblock %}


{% block body %}
<header> 
	<h1>Задание 1</h1> 
</header> 
<p>
Создать веб сайт, используя html и css. 
Сайт должен содержать не менее четырёх страниц, 
связанных гиперссылками. 
Сайт должен быть о том, что для вас интересно, 
основная часть его оценки зависит от содержание.
Это должно быть что-то, рассказанное вами, а не
скопированный текст.
</p>

<h2>Как отправить на проверку</h2>

<ol>
	<li>Запишите 1-5 минутный <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D0%BA%D0%B0%D1%81%D1%82%D0%B8%D0%BD%D0%B3">скринкаст</a>, того как вы демонстрируете
функционирование вашего проекта. Загрузите ваше видео 
на youtube (как unlisted или public, но не private).</li>
	<li>Заполните <a href="http://90.188.117.161:8080/character/pset/4/v">форму.</a></li>
	
	<br>
		Свои оценки вы можете посмотреть на <a href="http://90.188.117.161:8080">http://90.188.117.161:8080</a>.
	</br>

	<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/g5QEfYQMAXM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</p>
</ol>


{% endblock %}
