
{% extends "layout.html" %}
{% block tytle %}
Заметки 2
{% endblock %}


{% block body %}
<h2>Git</h2>
<p>git - распределённая система контроля версий. 
Распределённая, т.е.
каждый участник проекта имеет свою копию репозитория. 
Репозиторий - место, где git сохраняет всю информацию об 
версиях. С помощью git, вы можете разделять и соединять
версии вашего проекта, просматривать историю изменений,
внесённых в проект, отменять их если нужно. </p>

<p>Создайте папку проекта, перейдите в неё.</p>
<pre>
<kbd>~/ $ mkdir week2</kbd>
<kbd>~/ $ cd week2</kbd>
</pre>
<p>Инициализируйте git, выполнив:</p>
<pre>
<kbd>~/week2/ $ git init</kbd>
</pre>
<p>Если вы первый раз используете git, то вам нужно добавить 
имя пользователя и почту, для этого выполните:</p>
<pre>
<kbd>~/week2/ $ git config --global user.name "Баба Яга"</kbd>
<kbd>~/week2/ $ git config --global user.email "yaga@les.ru"</kbd>
</pre>
<p>git будет это использовать, для записей в истории коммитов.
Создайте файл readme.md, сохраните его в папке week2.
В этом файле, желательно описать ваш проект.
После того как выполните часть работы над проектом,
создадите необходимые файлы, вы можете захотеть сохранить
текущую версию. Для этого выполните, сначала, команду</p>
<pre>
<kbd>git status</kbd>. 
</pre>
<p>Затем, добавьте те файлы, 
изменения в которых вы хотите сохранить. Если вы хотите
добавить все изменённые файлы, выполните:</p>
<pre>
<kbd>~/week2/$ git add .</kbd>
</pre>
<p>Для сохранения изменений, выполните </p>
<pre>
<kbd>~/week2/$ git commit</kbd>
</pre>
<p>Вы попадёте в текстовый редактор, запишите в первой
строке короткое описание, оно будет добавлено в историю
коммитов. Для выхода из редактора, нажмите <kbd>Ctrl+X</kbd>.
На вопрос об сохранении изменений, нажмите <kbd>Y</kbd>, 
затем, <kbd>Enter</kbd>.</p>
<p>Чтобы посмотреть историю изменений, 
выполните команду <kbd>git log</kbd>.
В истории отображаются даты изменений,
авторы, описания, автоматически генерируемые
имена коммитов. Вы можете первых несколько символов 
имени коммитов использовать для выполнения действий.
Например, чтобы отменить изменения, сохранённые в коммите,
используйте <kbd>git revert имя</kbd>. Вернуться в прошлое
вы можете, выполнив <kbd>git checkout имя</kbd>. Но помните
основное правило путешественников во времени: в прошлом 
ничего нельзя менять. Вернутся в текущее состояние проекта
можно, выполнив <kbd>git checkout master</kbd>.
</p>
<p>Создадим ветку test и перейдём в неё, для этого выполним:</p>
<pre>
<kbd>~/week2/ $ git branch test</kbd>
<kbd>~/week2/ $ git checkout test</kbd>
</pre>
<p>В этой новой ветке, мы можем работать, как  обычно, сохраняя
изменения. Чтобы вернутся в ветку master, 
выполните <kbd>git checkout master</kbd>.</p>
Чтобы слить изменения в ветке test с веткой master, выполните:</p>
<pre>
<kbd>~/week2/ $ git merge test</kbd>.
</pre>


<h2>Github</h2>
<p>Чтобы перенести копию нашего  проекта на github, зайдите
на <a href="https://github.com">github.com</a>, созадйте
пустой репозиторий, и следуйте инструкциям, там указанным.
Допустим, Yaga - ваше имя на github. test - имя, данное вами
репозиторию. Чтобы перенести, созданный нами проект, находясь в
папке проекта, выполним</p>
<pre>
<kbd>~/week2/ $ git remote add origin https://github.com/Yaga/test.git</kbd>
</pre>
<p>Так мы свяжем имя origin с репозиторием на github. Далее, выполним</p>
<pre>
<kbd>git push origin master</kbd>
</pre>
<p>Теперь мы имеем копию нашего проекта на 
https://github.com/Yaga/test . Чтобы скопировать этот проект 
на другой компьютер, надо там выполнить</p>
<pre>
<kbd>git clone https://gintub.com/Yaga/test.git</kbd>
</pre>
{% endblock %}
