{% extends "layout.html" %}
{% block title %}
Задание 0
{% endblock %}


{% block body %}
<header> 
	<h1>Задание 0</h1> 
</header> 
<p>
<h2>Регистрация на сайте учета заданий</h2>

<p>Выполнив задание из <a href="./notes0.html">лекции</a>, вы зарегистрировались на github.
Используя учётную запись на github, зайдите на сайт
<a href="https://cs204.herokuapp.com">https://cs204.herokuapp.com"</a>.
Вам будет отправленно письмо с темой cs203. Примите находящееся 
в нём приглошение (View Invitation -> Accept Invitation). Письмо может попасть в спам.
Для вас был создан репозиторий, вы будите
отправлять в него свой работы на проверку.
Имя репозитория имет вид https://github.com/cs204/{username}.git, где {username} заменяется на имя пользователя. 
Так если пользователь имеет имя в github vadimb1, то репозиторий будет
называться https://github.com/cs204/vadimgb1.git, где cs204 - это имя организации, а
vadimgb1 имя на github.
</p>

<h2>Выполнение первого задания</h2>
Зайдите на <a href="https://ide.cs50.io">ide.cs50.io</a>. Перейдите в домашний каталог
<pre>
<kbd>$ cd ~</kbd>
</pre>
Создайте клон репозитория 
<pre>
<kbd>$git clone https://github.com/cs204/{username}.git -b main pset2</kbd>
</pre>
В адресе замените {username} на ваше имя на github.
Перейдите в папрку pset1
<pre>
<kbd>cd pset2</kbd>
</pre>
Укажите имя и адрес почты, которые будут использоваться
глобально для ваших коммитов
<pre>
<kbd>git config --global user.name "Ваше имя"</kbd>
<kbd>git config --global user.email "ваш email"</kbd>
</pre>
Создайте новую ветку и перейдите в неё
<pre>
<kbd>git checkout -b pset2</kbd>
</pre>
Создайте файл hello.js и сохраните его в папке pset2.
Текс файла ниже
<pre>
<code>
console.log('Hello, world!')
</code>
</pre>
Выполните команду в терминале
<pre>
<kbd>node hello.js</kbd>
</pre>
Сохраните изменения в репозитории и отправьте их на github.
<pre>
<kbd>git add hello.js</kbd>
<kbd>git commit -m "first commit"</kbd>
<kbd>git push origin -f pset1</kbd>
</pre>

<h2>Заполните форму</h2>
<a href="https://cs204.herokuapp.com/character/pset/2/c">форма отправки на проверку</a>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VgyO2UiYg70" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
