{% extends "layout.html" %}
{% block title %}
Неделя 1
{% endblock %}


{% block body %}
<header>
	<h1>Неделя 1</h1>
</header>
<main>
	html<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/MyalxVz7A7w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<br>
			css<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/2mY_CbI56J8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<ul>
		<li><a href="notes1.html">Записи</a></li>
		<li><a href = "pset1.html">Задание</a></li>
	</ul>
</main>
{% endblock %}
