
{% extends "layout.html" %}
{% block tytle %}
Неделя 3
{% endblock %}

{% block body %}

<h1>HTML, CSS.</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qNK-mH9zHwg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/w1lqMe3vQpQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ul>
	<li>
		<a href="notes3.html">Заметки</a>
	</li>
	<li>
		<a href="static/week3.zip">исходный код к лекции</a>
	</li>
</ul>
{% endblock %}
